<h1><%= @leaderboard.title %> (<%= pluralize(@leaderboard.matches.count, 'played match')%>)</h1>

<h2>Leaderboard users</h2>
<% unless @leaderboard.users.empty? %>
  
  <ul class="users">
    <% @leaderboard.users.each do |user| %>
      <li>
        <%= image_tag gravatar(user.email, 50) %>
        <%= user.display_name %>
        <%= membership_score(user) %> 
        <% if membership_played_sets(user) > 0 %>
          (<%= user_played_sets_win_percentage(user) %>% win percentage)
        <% end %>
      </li>
    <% end %>
  </ul>
  
<% else %>

  <p>There are no user in this leaderboard.</p>
  <% if current_user and current_user.is_admin? %>
    <%= link_to "Add users to leaderboard", edit_leaderboard_url(params[:id]) %>
  <% end %>
  
<% end %>

<h2>Played matches</h2>
<% unless @leaderboard.matches.empty? %>
  
  <ul class="matches">
    <% @leaderboard.matches.each do |match| %>
      <li>
        <%= link_to match.created_at, leaderboard_match_url(@leaderboard.id, match.id) %>
        <% unless match.scores.empty? %>
          <%= User.find(match.scores[0].user_id).display_name %> [<%= match.scores[0].score %>] -
          [<%= match.scores[1].score rescue '...' %>] <%= User.find(match.scores[1].user_id).display_name rescue '...' %>
        <% else %>
          No scores added
        <% end %>
        <% if current_user and current_user.is_admin? %>
          <%= link_to "Destroy", leaderboard_match_url(@leaderboard, match.id), :method => :delete, :confirmation => "You sure?" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
<% else %>

  No matches added yet.
  
<% end %>

<% if current_user and @leaderboard.users.count > 2 %>
  <p><%= link_to "Add match", new_leaderboard_match_url(params[:id]) %></p>
<% end %>

<p><%= link_to "Back to leaderboard overview", leaderboards_url %></p>