<h1><%= @leaderboard.title %> (<%= pluralize(@leaderboard.games.count, 'played game')%>)</h1>

<h2>Leaderboard users</h2>
<% unless @leaderboard.users.empty? %>
  
  <ul class="users">
    <% @leaderboard.users.each do |user| %>
      <li><%= user.login %></li>
    <% end %>
  </ul>
  
<% else %>
  There are no user in this leaderboard.
  <% if current_user and is_admin? %>
    <%= link_to "Add users to leaderboard", edit_leaderboard_url(params[:id]) %>
  <% end %>
<% end %>

<h2>Played games</h2>
<% unless @leaderboard.games.empty? %>
  
  <ul class="games">
    <% @leaderboard.games.each do |game| %>
      <li>
        <%= link_to game.created_at, leaderboard_game_url(@leaderboard.id, game.id) %>
        <% unless game.scores.empty? %>
          <%= User.find(game.scores[0].user_id).login %> [<%= game.scores[0].score %>] -
          [<%= game.scores[1].score rescue '...' %>] <%= User.find(game.scores[1].user_id).login rescue '...' %>
        <% else %>
          No scores added
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  No games added yet.
<% end %>

<% if current_user and !@leaderboard.users.empty? %>
  <p><%= link_to "Add game", new_leaderboard_game_url(params[:id]) %></p>
<% end %>

<p><%= link_to "Back to leaderboard overview", leaderboards_url %></p>