<h1><%= @leaderboard.title %> (<%= pluralize(@leaderboard.matches.count, 'played match')%>)</h1>

<h2>Leaderboard users</h2>
<% unless @leaderboard.users.empty? %>
  
  <table cellpadding="5" border="1" style="border-collapse:collapse">
    <thead>
      <tr>
        <th>User</th>
        <th>Won matches</th>
        <th>Played matches</th>
        <th>Match win percentage<br>(Won matches / played matches)</th>
        <th>Won games</th>
        <th>Played games</th>
        <th>Games win percentage<br>(Won games / played games)</th>
      </tr>
    </thead>
    <% @leaderboard.users.each do |user| %>
      <tr>
        <td>
          <%= image_tag gravatar(user.email, 50) %><br>
          <%= user.display_name %>
        </td>
        <td><%= membership_won_matches(user) %></td>
        <td><%= membership_played_matches(user) %></td>
        <td>
          <% if membership_played_matches(user) > 0 %>
            <%= membership_match_win_percentage(user) %>%
          <% end %>
        </td>
        <td><%= membership_won_games(user) %></td>
        <td><%= membership_played_games(user) %></td>
        <td>
          <% if membership_played_games(user) > 0 %>
            <%= membership_games_win_percentage(user) %>%
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  
  <% if current_user and current_user.is_admin? %>
    <p><%= link_to "Recalculate memberships", recalculate_memberships_url(@leaderboard.id) %></p>
  <% end %>
  
<% else %>

  <p>There are no user in this leaderboard.</p>
  <% if current_user and current_user.is_admin? %>
    <%= link_to "Add users to leaderboard", edit_leaderboard_url(params[:id]) %>
  <% end %>
  
<% end %>

<h2>Latest 5 played matches</h2>
<% unless @leaderboard.matches.empty? %>
  
  <ul class="matches">
    <% @leaderboard.matches[0..4].each do |match| %>
      <li>
        <% if current_user %>
          <%= link_to match.created_at.strftime("%Y-%m-%d %H:%M"), leaderboard_match_url(@leaderboard.id, match.id) %>
        <% else %>
          <%= match.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% end %>
        <% unless match.scores.empty? %>
          <%= User.find(match.scores[0].user_id).display_name %> [<%= match.scores[0].score %>] -
          [<%= match.scores[1].score rescue '...' %>] <%= User.find(match.scores[1].user_id).display_name rescue '...' %>
        <% else %>
          No scores added
        <% end %>
        <% if current_user and current_user.is_admin? %>
          <%= link_to "Destroy", leaderboard_match_url(@leaderboard, match.id), :method => :delete, :confirmation => "You sure?" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
  <% if current_user %>
    <p><%= link_to "View all matches", leaderboard_matches_url(params[:id]) %></p>
  <% end %>
  
<% else %>

  No matches added yet.
  
<% end %>

<% if current_user and @leaderboard.users.count >= 2 %>
  <p><%= link_to "Add match", new_leaderboard_match_url(params[:id]) %></p>
<% end %>

<p><%= link_to "Back to leaderboard overview", leaderboards_url %></p>