<%= form_for [@leaderboard, @game, Score.new] do |f| %>
  <%= f.hidden_field :game_id, :value => @game.id %>
  <div>
    <%= error_messages_for :score %>
  </div>
  <div>
    <%= f.label 'User' %>
    <%= f.select(:user_id, options_from_collection_for_select(@leaderboard.users, 'id', 'display_name')) %>
  </div>
  <div>
    <%= f.label 'Score'%>
    <%= f.text_field :score %>
  </div>
  <%= f.submit %>
<% end %>