<%= form_for [@leaderboard, @match, Score.new] do |f| %>
  <%= f.hidden_field :match_id, :value => @match.id %>
  <div>
    <%= error_messages_for :score %>
  </div>
  <div>
    <%= f.label 'Player' %>
    <%# f.select(:user_id, options_from_collection_for_select(@leaderboard.users, 'id', 'display_name')) %>
    <%= f.select(:membership_id, @leaderboard.memberships.all.collect {|p| [ p.user.display_name, p.id ] }) %>
  </div>
  <div>
    <%= f.label 'Score'%>
    <%= f.text_field :score %>
  </div>
  <%= f.submit %>
<% end %>