<% form_for @user do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div>
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <% if params[:action] == 'new' %>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <% if current_user and current_user.is_admin? %>
    <div>
      <%= f.label :level %>
      <%= f.select(:level, ['0','1','2'])%>
    </div>
  <% end %>
  <p><%= f.submit %></p>
<% end %>

<p><%= link_to "Cancel", root_url %></p>