<% form_for @user, :url => { :action => "update_password" } do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <p><%= f.submit "Change password" %></p>
<% end %>

<p><%= link_to "Cancel", root_url %></p>