<h1><%= @user.login%></h1>
Email: <%= @user.email %><br>
Display name: <%= @user.display_name %>
<p><%= link_to "Edit your profile", edit_user_url(@user.id) %></p>

<p><%= link_to "Back to leaderboard overview", leaderboards_url %></p>