<h1><%= @leaderboard.title %> match overview</h1>

<% unless @leaderboard.matches.empty? %>
  
  <ul class="matches">
    <% @leaderboard.matches.each do |match| %>
      <li>
        <%= link_to match.created_at, leaderboard_match_url(@leaderboard.id, match.id) %>
        <% unless match.scores.empty? %>
          <%= User.find(match.scores[0].user_id).display_name %> [<%= match.scores[0].score %>] -
          [<%= match.scores[1].score rescue '...' %>] <%= User.find(match.scores[1].user_id).display_name rescue '...' %>
        <% else %>
          No scores added
        <% end %>
        <% if current_user and current_user.is_admin? %>
          <%= link_to "Destroy", leaderboard_match_url(@leaderboard, match.id), :method => :delete, :confirmation => "You sure?" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
<% else %>

  No matches added yet.
  
<% end %>

<p><%= link_to "Back to leaderboard", leaderboard_url(@leaderboard) %></p>