<!DOCTYPE html>
<html>
<head>
  <title>Mr. Leaderboard</title>
  <%= csrf_meta_tag %>

  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

  <%= javascript_include_tag :defaults %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <% if !current_user %>
        <li><%= link_to "Register", new_user_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% else %>
        <li class="brand">Welcome back <%= current_user.login %></li>
        <li><%= link_to "Your profile", user_url(current_user.id) %></li>
        <li><%= link_to "Logout", user_session_url(current_user.id), :method => :delete, :confirm => "Ready to log out?" %></li>
      <% end %>
    </ul>
  </div>

</div>
<br />
<br />
<br />
<div id="wrapper" class="container">

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9697249-33']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
